/* LOGIN FORM CSS */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.login-form {
  background: #ccc;
  opacity: 0.7;
  padding: 80px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 17px -1px rgba(0, 0, 0, 0.75);
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form-group label {
  padding: 10px;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form-group input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form-group input:focus {
  border: none;
  outline: none;
}

.form-group h4 {
  margin-top: 10px;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form-group i {
  padding-right: 5px;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Media Queries */
@media all and (max-width: 500px) {
  .login-form {
    padding: 40px;
  }
}

/* Keyframes */

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
